<html>
<head>
      <title>Vehicle Categories</title>
	
	  <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-1.10.2.js"></script>    
		 
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>
    
       <script src="views/js/vehicle_category.js"></script>
</head>
<style>

#header
{
background:#ee6e73;height:70px;
}

.heading_top
{
color:white;font-family:segoe print;font-weight:bold;margin-top:20px;
}

.menu_items
{
color:red;
}

#menu_card
{
height:100%;background-color:#616161;width:160px;position:fixed;left:-10px;top:40px;overflow-x:scroll;
}

.menu_text
{
color:white;font-weight:bold;
}

.menu_text:hover
{
 cursor:pointer;color:#ee6e73;
}

.menu_icons
{
margin-right:10px;position:relative;top:2px;
}

#right_content
{
float:right;margin-right:30px;margin-top:-16px;height:530px;
}

#open_modal
{
   float:right;background-color:#ee6e73;
}

#form_save
{
float:right;margin-right:10px;
}

#save_edits
{
float:right;margin-right:10px;
}

#delete_row
{
float:left;
}

.row
{
cursor:pointer;
}

#modal_cross
{
float:right;color:red;margin-top:-40px;margin-right:20px;
}

#btn
{
height: 34px;
	width:85px;
    line-height: 20px;
    padding: 7 0 0 0;
	font-size:12px;
	margin-left:50px;
}

.profile_pic
{
width:50px;height:50px;
}


</style>
<body>

   
  
 <div class="row">
   <% include header.ejs %>
  <!-- content starts  -->
  <div  class="col s12 m12 l12">
 
   <!-- menu starts -->
   <div class="row">
    <div class="col s2 m2 l2">
      <div class="card" id="menu_card">
        <div class="card-content white-text">
             <% include menu_items.ejs %>
        </div>
        
      </div>
    </div>
  </div>
  <!-- menu ends -->
  
   <!-- Modal Starts -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <center><h5>Add Vehicle Type</h5></center>
      <i id="modal_cross" class="material-icons modal-close">close</i>
	  <div class="row">
    
      <div class="row">
        <div class="input-field col s6">
          <input id="category_name" type="text">
          <label for="city_name">Vehicle Type*</label>
        </div>
      </div>
	  
	 


	  
     <span style="color:#ee6e73;font-size:15px;">Fields marked * are required</span>
	 <a id="form_save"  href="#" class=" waves-effect waves-light btn">Save</a>
  </div>
	  
	  
	  
    </div>
   <br>
      
    
  </div>  
  
  <!-- Modal ends-->
  
  
   <!-- Modal Starts -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <center><h4>Edit Agent</h4></center>
      <i id="modal_cross" class="material-icons modal-close">close</i>
	  <div class="row">
   
      <div class="row">
        <div class="input-field col s6">
          <input id="e_agent_name" type="text" class="validate">
          <label for="e_agent">Agent Name*</label>
        </div>

		<div class="input-field col s6">
          <input id="e_mobile" type="text" class="validate">
          <label for="e_mobile">Mobile Number*</label>
        </div>
		

		<div class="input-field col s6">
            <input type="text" id="e_address" class="validate"  />
            <label for="e_address">Address*</label>
        </div>
		
		<div class="input-field col s6">
            <input type="text" id="e_agent_code" name="agent_code" class="validate"  />
            <label for="e_agent_code">Agent_code*</label>
        </div>
      </div>
	  
	  
	  <form id="form" enctype="multipart/form-data" method="post" name="e_photo">
      <div style="margin-left:-50px;" class="file-field input-field">
       <div id="btn" class="btn">
         <span><i class="small material-icons">perm_media</i></span>
         <input  onchange="e_upload_profile_photo()"  type="file" name="e_profile_photo" id="file_upload"></div>
	  <div  class="file-path-wrapper">
	  <input style="margin-top:-10px;" placeholder="Profile photo" class="file-path validate" id="f_path" type="text"></div>
	  
	  </div>
</form>

<form id="form" enctype="multipart/form-data" method="post" name="e_photo_id">
      <div style="margin-left:-50px;" class="file-field input-field">
       <div id="btn" class="btn">
         <span><i class="small material-icons">perm_media</i></span>
         <input  onchange="e_upload_photo_id()"  type="file" name="e_agent_photo_id" id="e_agent_photo_id"></div>
	  <div  class="file-path-wrapper">
	  <input style="margin-top:-10px;" placeholder="Photo Id" class="file-path validate" id="f_path" type="text"></div>
	  
	  </div>
</form>
	  
     <span id="edit_agent_id" style="visibility:hidden"></span>
     <a id="save_edits"  href="#" class="modal-close waves-effect waves-light btn">Save edits</a>
	  <a id="delete_agent"  href="#" class="modal-close waves-effect waves-light red btn">Delete Agent</a>
    
  </div>
	  
	  
    </div>
   <br>
      
    
  </div>  
  
  <!-- Modal ends-->
  
  <!-- Modal starts -->
  <div id="view_id" class="modal">
   <center><h6>Photo Id</h6></center>
       <br>
      <i id="modal_cross" class="material-icons modal-close">close</i>
	  <div class="row">
   
     <img id="id_image"  style="width:100%;height:100%">
      </div>
  </div>
  <!-- Modal Ends -->
  
 <!-- table starts -->
    <div id="right_content" class="col s11 m10 l10">
      <div class="card white">
        <div class="card-content gray-text">
        <span  class="card-title">Vehicle Type</span>
		<a id="open_modal" class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons left">add</i>Type</a>
        <table class="striped centered">
        <thead>
          <tr>
              <th>S.No</th>
              <th>Vehicle Type</th>
          </tr>
        </thead>
   
        <tbody>
         <% for(var i=0;i<result.length;i++){%>
         <tr class="row">
		 <td><%= i+1 %></td>
		 <td><%= result[i].category_name%></td>
		 
		 </tr>
		 <% } %>
        </tbody>
      </table>
              
        </div>
        
      </div>
    </div>
 <!-- table ends-->
 
  </div>
 <!-- content ends -->

	  <div id="footer">
	  </div>

</body>
</html>




